<!-- LinkedIn -->
<a title="LinkedIn" href="https://www.linkedin.com/in/lindaicing" target="_blank"><i class="fab fa-linkedin"></i></a>

<!-- Dribbble -->
<a title="Dribbble" href="https://dribbble.com/Lindaicing" target="_blank"><i class="fab fa-dribbble"></i></a>

<!-- GitHub -->
<a title="GitHub" href="https://github.com/lindaicing" target="_blank"><i class="fab fa-github"></i></a>

<!-- Devpost -->
<a title="Devpost" href="https://devpost.com/Lindaicing" target="_blank"><i class="fas fa-code"></i></a>

<!-- Dev -->
<a title="Dev" href="https://dev.to/lindaicing" target="_blank"><i class="fab fa-dev"></i></a>

<span title="Magic 👀" id="confetti">🎉</span>
