/** DarkMode ***************************************************************************************/

body.dark {
    background: #333;
    color: #eee;
}

body.dark a {
    color: #eee;
}

body.dark a:hover {
    color: #c7b7d3;
}

body.dark .onlink {
    color: #cbb1de;
}

body.dark a.important, body.dark .coffee {
    background: #222;
}

.fas.fa-moon, body.dark .fas.fa-sun {
    display: none;
}

body.dark .fas.fa-moon, .fas.fa-sun {
    display: inline;
}

body.dark #aboutMe>span::before { /* Puns */
    border-bottom: 16px solid #222;
}

body.dark #aboutMe>span::after {
    background: #222;
    color: #c7b7d3;
}

body.dark #htmlvalidation {
    color: #82718f;
}

body.dark #htmlvalidation:hover, body.dark .socials i:hover {
    color: #ad99bb;
}

body.dark #navcontent {
    background: #282828ee;
    box-shadow: 1px 3px 8px #0005; 
}

body.dark #personaltitle {
    font-weight: bold;
    color: #b3aaaa;
}

body.dark #htmlvalidation {
    color: #c7b7d3;
}

/** Project DarkMode ***************************************************************************************/

body.dark.project {
    background: #1c1b1a;
}

body.dark .projectContent, body.dark footer {
    background: #333;
    color: #eee;
}

body.dark.project nav ul li {
    background: #222;
    color: #eee;
}

body.dark p {
    color: #aaa;
}
