body {
    margin: auto;
    font-family: sans-serif;
    background: #DCDCDC;
    color: #1c1b1a;
    overflow-x: hidden;
}

.project {
    background: #1c1b1a;
    padding: 0;
}

.projectContent div section,
#home header,
#about header {
    max-width: 90vw;
    margin-left: 0;
    margin-right: 0;
}

.projectContent div {
    padding: 0 80px 0 80px;
}

div {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav li,
.important {
    padding: 12px;
    background: rgba(210, 200, 200, 1);
    border-radius: 30px;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    box-shadow: 0px 0px 0px #dadada, -0px -0px 0px #dedede;
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

nav li:hover,
.important:hover {
    background: rgba(230, 220, 220, 1);
    box-shadow: 0px 0px 20px rgba(154, 154, 154, 0.5);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    box-shadow: 10px 10px 20px #9a9a9a, -10px -10px 20px #ffffff;
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

nav ul {
    display: flex;
    flex: 1;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
}

nav ul li {
    justify-content: flex-end;
    text-align: right;
    margin-left: 40px;
}

header {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-bottom: 60px;
    width: 100vw;
    height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #DCDCDC;
}

#home header,
#about header {
    align-items: flex-start;
    width: 80%;
}

.project header {
    margin-bottom: 0px;
    background: none;
}

.projectModule {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
}

.projectModule section {
    width: 540px;
    height: 350px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 60px;
    border-radius: 30px;
    background: #1c1b1a;
    box-shadow: 0px 0px 0px #dadada, -0px -0px 0px #dedede;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectModule section:hover {
    box-shadow: 10px 10px 20px #9a9a9a, -10px -10px 40px #ffffff;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectContent {
    padding-top: 100px;
    width: 100%;
    background: #DCDCDC;
}

.projectContent section:last-child {
    margin-bottom: 0;
}

#about .projectContent {
    padding-top: 0;
}

section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.projectContent div {
    max-width: 80%;
}

.projectContent section {
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    align-items: flex-start;
    margin-bottom: 120px;
}

#aboutMe {
    flex-direction: row;
}

#skills {
    margin-top: 30px;
    margin-bottom: 0px;
}

section#aboutMe,
section#aboutMe section {
    margin-bottom: 0px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #DCDCDC;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}


/** Typography ************************************************************************************/

.project header h1,
.project .projectSecDark header h1,
.project header p,
.project .projectSecDark p {
    text-align: center;
    color: #DCDCDC;
}

nav ul li a {
    font-size: 11pt;
}

a,
.darkmode {
    color: #1c1b1a;
    text-decoration: none;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

a:hover,
.darkmode:hover {
    color: grey;
    -webkit-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectModule a:hover {
    color: #fff;
}

h1 {
    font-size: 30pt;
    margin-bottom: 40px;
}

#home header p,
#about header p {
    font-size: 18pt;
    line-height: 26pt;
    max-width: 80%;
}

h3 {
    font-size: 24pt;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgba(150, 150, 150, 0.5);
}

::selection {
    background: #FFDB58;
}

h4 {
    font-size: 18pt;
    margin-bottom: 20px;
}

p,
.projectContent ul {
    color: #777;
    font-size: 11pt;
    line-height: 18pt;
    margin-bottom: 20px;
}

.projectContent ul {
    list-style-type: square;
    list-style-position: inside;
}

.project section p:last-child {
    margin-bottom: 0;
}

footer p {
    padding: 60px 0 0 0;
    line-height: 24pt;
}

footer p:last-child {
    min-width: 100px;
    align-items: right;
    text-align: end;
}


/** Images, Media, Button ******************************************************************************/

.logo,
.sublogo {
    height: 38px;
    margin-left: 10vw;
}

header img {
    position: fixed;
    width: 100%;
    z-index: -2;
}

.project header img {
    opacity: 0.4;
}

.project header h1 {
    position: absolute;
    align-self: center;
    top: 120px;
}

.project header p {
    position: absolute;
    align-self: center;
    top: 200px;
}

.projectModule a img {
    position: relative;
    height: 350px;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectModule a:hover img {
    opacity: 0.4;
    -webkit-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 100ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectModule h2 {
    color: #DEDEDE;
    position: relative;
    top: -220px;
    opacity: 0;
    font-size: 2em;
    line-height: 1.6em;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 300ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

.projectModule a:hover h2 {
    opacity: 1;
    -webkit-transition: all 200ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 200ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 200ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

#profile,
#profile2 {
    position: relative;
    width: 490px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #9a9a9a, -10px -10px 20px #ffffff;
    margin: 0 60px 60px 0;
    -webkit-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

#profile {
    position: absolute;
    z-index: 1;
    opacity: 1;
}

#profile:hover {
    opacity: 0;
    -webkit-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition: all 240ms cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(1.000, 0.015, 0.750, 0.750);
    /* custom */
}

#profile.projectSecDark,
#profile2.projectSecDark {
    box-shadow: 10px 10px 20px #000, -10px -10px 20px #302f2d;
}

.projectContent .gallery {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    left: -100px;
    margin-bottom: 40px;
}

.gallery {
    padding-left: 100px;
}

.gallery img {
    height: 290px;
    padding: 0 10px 10px 0;
}

.gallery .fullimg {
    max-width: 100%;
    height: auto;
}

section.webMockup {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    margin-bottom: 40px;
}

.webMockup img {
    padding: 0;
    margin: 0;
    padding-right: 40px;
}


/** Queries ***************************************************************************************/

@media only screen and (max-width: 1400px) {
    .projectModule {
        justify-content: space-between;
    }
    .projectModule section {
        width: 500px;
    }
}

@media only screen and (max-width: 1300px) {
    .projectModule section {
        width: 460px;
    }
}

@media only screen and (max-width: 1200px) {
    .projectModule section {
        width: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    .projectModule {
        align-items: center;
        justify-content: center;
    }
    .projectModule section {
        width: 80vw;
    }
    .projectModule a img {
        width: 100%;
        height: auto;
    }
    .projectModule h2 {
        position: relative;
        top: -40vw;
    }
    .gallery img {
        width: 100%;
        height: auto;
    }
    iframe {
        width: 100%;
        height: 50vw;
    }
    #aboutMe,
    #skills {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 800px) {
    header img {
        height: 100%;
        width: auto;
    }
    #profile,
    #profile2 {
        width: 50vw;
    }
    .projectContent div {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 725px) {
    nav ul {
        margin-right: 50px;
    }
    .projectModule section a {
        height: inherit;
    }
    .projectModule section a img {
        width: auto;
        height: 100%;
    }
    .projectModule h2 {
        top: -220px;
    }
    #profile,
    #profile2 {
        width: 80vw;
    }
}


/** DarkMode ***************************************************************************************/

.projectSecDark section,
nav .projectSecDark,
.important.projectSecDark {
    background: #2c2b2a;
    box-shadow: 0px 0px 0px #000, -0px -0px 0px #302f2d;
}

.projectSecDark section:hover {
    background: #2c2b2a;
    box-shadow: 10px 10px 20px #000, -10px -10px 40px #302f2d;
}

nav .projectSecDark:hover,
.important.projectSecDark:hover {
    background: #2c2b2a;
    box-shadow: 3px 3px 10px #000, -3px -3px 20px #302f2d;
}

.projectSecDark a,
.darkmode.projectSecDark {
    color: #DCDCDC;
}

.projectSecDark a:hover,
nav .projectSecDark:hover a,
.darkmode:hover .fa-sun {
    color: #FFDB58;
}

.important {
    position: relative;
    left: -12px;
}


/** Coffee Button ***************************************************************************************/

.bmc-button img {
    height: 34px;
    width: 35px;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    justify-self: flex-start;
    padding: 7px 10px 7px 10px !important;
    line-height: 35px !important;
    height: 51px !important;
    min-width: 217px !important;
    text-decoration: none !important;
    display: inline-flex !important;
    color: #ffffff !important;
    background-color: #1f3c5e !important;
    border-radius: 25px !important;
    border: 1px solid transparent !important;
    padding: 7px 10px 7px 10px !important;
    font-size: 20px !important;
    letter-spacing: -0.08px !important;
    box-shadow: 0px 1px 2px #0a3261 !important;
    -webkit-box-shadow: 0px 1px 2px 2px #0a3261 !important;
    margin: 0 auto !important;
    font-family: 'Assistant', sans-serif !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
    z-index: 1;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px #0a3261 !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px #0a3261 !important;
    opacity: 0.85 !important;
    color: #ffffff !important;
}